<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Converter</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Unit Converter</h1>
    <button id="length-button" onclick="setLengthUnits()">Length</button>
    <button id="weight-button" onclick="setWeightUnits()">Weight</button>
    <button id="temperature-button" onclick="setTemperatureUnits()">Temperature</button>
    <button id="speed-button" onclick="setSpeedUnits()">Speed</button>
    <button id="volume-button" onclick="setVolumeUnits()">Volume</button>
    <button id="area-button" onclick="setAreaUnits()">Area</button>
    <button id="time-button" onclick="setTimeUnits()">Time</button>
    <button id="digital-storage-button" onclick="setDigitalStorageUnits()">Digital Storage</button>

    <form id="unit-converter-form">
        <label for="input-value">Value:</label>
        <input type="number" id="input-value" name="input-value" required>

        <label for="input-unit">From:</label>
        <select id="input-unit" name="input-unit">
            <!-- Options will be populated by JavaScript -->
        </select>

        <label for="output-unit">To:</label>
        <select id="output-unit" name="output-unit">
            <!-- Options will be populated by JavaScript -->
        </select>

        <button type="submit">Convert</button>
    </form>

    <div id="result"></div>

    <script>
        function setLengthUnits() {
            setActiveButton('length-button');
            fetch('/units/length')
                .then(response => response.json())
                .then(data => {
                    const lengthUnits = data.units;
                    populateUnits(lengthUnits);
                })
                .catch(error => console.error('Error fetching length units:', error));
            
            const lengthUnits = ['Meters', 'Kilometers', 'Feet', 'Inches'];
            populateUnits(lengthUnits);
        }

        function setWeightUnits() {
            setActiveButton('weight-button');
            fetch('/units/weight')
                .then(response => response.json())
                .then(data => {
                    const weightUnits = data.units;
                    populateUnits(weightUnits);
                })
                .catch(error => console.error('Error fetching temperature units:', error));

            const weightUnits = ['Grams', 'Kilograms', 'Pounds', 'Ounces'];
            populateUnits(weightUnits);
        }

        function setTemperatureUnits() {
            setActiveButton('temperature-button');
            fetch('/units/temperature')
                .then(response => response.json())
                .then(data => {
                    const temperatureUnits = data.units;
                    populateUnits(temperatureUnits);
                })
                .catch(error => console.error('Error fetching temperature units:', error));

            const temperatureUnits = ['Celsius', 'Fahrenheit', 'Kelvin'];
            populateUnits(temperatureUnits);
        }

        function setSpeedUnits() {
            setActiveButton('speed-button');
            fetch('/units/speed')
                .then(response => response.json())
                .then(data => {
                    const speedUnits = data.units;
                    populateUnits(speedUnits);
                })
                .catch(error => console.error('Error fetching speed units:', error));

            const speedUnits = ['Meters per second', 'Kilometers per hour', 'Miles per hour'];
            populateUnits(speedUnits);
        }

        function setVolumeUnits() {
            setActiveButton('volume-button');
            fetch('/units/volume')
                .then(response => response.json())
                .then(data => {
                    const volumeUnits = data.units;
                    populateUnits(volumeUnits);
                })
                .catch(error => console.error('Error fetching volume units:', error));

            const volumeUnits = ['Milliliters', 'Liters', 'Cubic meters', 'Cubic feet'];
            populateUnits(volumeUnits);
        }

        function setAreaUnits() {
            setActiveButton('area-button');
            fetch('/units/area')
                .then(response => response.json())
                .then(data => {
                    const areaUnits = data.units;
                    populateUnits(areaUnits);
                })
                .catch(error => console.error('Error fetching area units:', error));

            const areaUnits = ['Square meters', 'Square kilometers', 'Square feet', 'Square miles'];
            populateUnits(areaUnits);
        }

        function setTimeUnits() {
            setActiveButton('time-button');
            fetch('/units/time')
                .then(response => response.json())
                .then(data => {
                    const timeUnits = data.units;
                    populateUnits(timeUnits);
                })
                .catch(error => console.error('Error fetching time units:', error));

            const timeUnits = ['Seconds', 'Minutes', 'Hours', 'Days'];
            populateUnits(timeUnits);
        }

        function setDigitalStorageUnits() {
            setActiveButton('digital-storage-button');
            fetch('/units/digitalstorage')
                .then(response => response.json())
                .then(data => {
                    const digitalStorageUnits = data.units;
                    populateUnits(digitalStorageUnits);
                })
                .catch(error => console.error('Error fetching digital storage units:', error));

            const digitalStorageUnits = ['Bits', 'Bytes', 'Kilobits', 'Kilobytes', 'Megabits', 'Megabytes', 'Gigabits', 'Gigabytes'];
            populateUnits(digitalStorageUnits);
        }

        function populateUnits(units) {
            const inputUnitSelect = document.getElementById('input-unit');
            const outputUnitSelect = document.getElementById('output-unit');
            inputUnitSelect.innerHTML = '';
            outputUnitSelect.innerHTML = '';
            units.forEach(unit => {
                const option = document.createElement('option');
                option.value = unit.toLowerCase();
                option.textContent = unit;
                inputUnitSelect.appendChild(option);
                outputUnitSelect.appendChild(option.cloneNode(true));
            });
        }

        function setActiveButton(buttonId) {
            const buttons = document.querySelectorAll('button');
            buttons.forEach(button => button.classList.remove('bold'));
            document.getElementById(buttonId).classList.add('bold');
        }

        document.getElementById('unit-converter-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const inputValue = document.getElementById('input-value').value;
            const inputUnit = document.getElementById('input-unit').value;
            const outputUnit = document.getElementById('output-unit').value;

            fetch(`/convert?value=${inputValue}&input_unit=${inputUnit}&output_unit=${outputUnit}`)
                .then(response => response.json())
                .then(data => {
                    const result = data.result;
                    document.getElementById('result').textContent = `${inputValue} ${inputUnit} is equal to ${result} ${outputUnit}`;
                })
                .catch(error => console.error('Error converting units:', error));
        });

        // Set default units to length units on page load
        setLengthUnits();
    </script>
</body>
</html>